@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
 
}
.hero{
 position: relative; 

}
.hero-content{
  padding: 48px 0;
  color: rgb(209, 198, 198);
  /* position: relative;
  bottom: 400px; */


}
.h1{
  margin-top: 200px;
  margin-left: 300px;
    font-size: 50px;
  font-weight: bolder;
  font-style: normal;
}
.para{
  position: relative;
  bottom: 200px;
 left: 200px;
  width: 900px;
  height: 500px;
  padding: 200px 0;
  margin: 0 100px 100px 100px;
 
}
.bg-image{
  object-fit:cover ;
  z-index: -5;
  clip-path: inset(0 0  25% 0);
}
.whiteb{
  position: absolute;
  top: 900px;
  width: 300px;
  left: 50px;
  border-radius: 30px;
  border: 5px solid white;
  margin-bottom: 200px;
}
.whiteb:hover{
  transform: scale(1.05);
}
.whitepink{ 
   position: absolute;
   top: 900px;
  width: 300px;
  left: 400px;
  border-radius: 30px;
  border: 5px solid rgb(255, 255, 255);
}
.whitepink:hover{
  transform: scale(1.05); 
} 
.whited{
  position: absolute;
  top: 900px;
  width: 300px;
  left: 750px;
  border-radius: 30px;
  border: 5px solid rgb(255, 255, 255);
}
.whited:hover{
  transform: scale(1.05);}
.whitep{
  position: absolute;
  top: 900px;
  width: 300px;
  left: 1100px;
  border-radius: 30px;
  border: 5px solid rgb(255, 255, 255);
}
.whitep:hover{
  transform: scale(1.05);}
.pink1{
  position: absolute;
  top: 1300px;
  width: 300px;
  left: 1100px;
  border-radius: 30px;
  border: 5px solid rgb(255, 255, 255);
}
.pink1:hover{
  transform: scale(1.05);}
.pinkd2{
  position: absolute;
  top: 1300px;
  width: 300px;
  height: 370px;
  left: 750px;
  border-radius: 30px;
  border: 5px solid rgb(255, 255, 255);
}
.pinkd2:hover{
  transform: scale(1.05);}
.pinkd{
  position: absolute;
  top: 1300px;
  height: 370px;
  width: 300px;
  left: 400px;
  border-radius: 30px;
  border: 5px solid rgb(255, 255, 255);
}
.pinkd:hover{
  transform: scale(1.05);
}

.peachpink{
 position:relative;
top: 160px;
  height: 370px;
  width: 300px;
  left: 50px;
  border-radius: 30px;
  border: 5px solid rgb(255, 255, 255);
  margin-bottom: 200px;
}
.peachpink:hover{
  transform: scale(1.05);
}
.lipstick{
  position: relative;
  background-color: rgb(115, 22, 22);
  color: white;
  padding: 10px;
  font-size: 50px;
  bottom: 270px;
}
.lipstick:hover{
  transform: scale(1.05);}
.head{
  margin-left: 650px;
}
